{
    "ssid": "<SSID here>",
    "wifipassword": "<WIFI key HERE>",
    "buzzerintensity": 20,
    "fuelsort": "<FuelSORT of Pump>",
    "billingserverURL": "<BILLING Server URL>",
    "terminal_id": "<PUMPID>"
}